extends layout

block content
block chatbox
  form.chat(action="", method="post")
    .chat__div
      input.chat--input(type="text", name="question",placeholder="Ask a question (@bot to ask ai)")
    .chat__div
      input.chat--submit(type="submit", value="Verzend")  
  
