doctype html
html
  head
    title= title
<<<<<<< HEAD
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
=======
    link(rel='stylesheet', href='../dist/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block content
    block chatbox
      
    
>>>>>>> bba63df795c77856d0214b287011adbdd731fba2
